.landing {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing img {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.landing h1, 
.landing h3 {
    font-family: 'Bitter', serif;
    z-index: 1;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    text-align: center;
}

.landing h1 {
    font-size: 3rem;
    padding: 1rem;
}
  
.landing h3 {
    font-size: 1.5rem;
    padding: 0;
}