.FreundeUndBekannte h3 {
  margin-bottom: 1rem;
}

.FreundeUndBekannte ul {
  list-style: none;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 680px) {
  .FreundeUndBekannte ul {
    grid-template-columns: 1fr;
  }
}

.FreundeUndBekannte ul li {
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}

.FreundeUndBekannte ul li:hover {
  transform: scale(105%);
}

.FreundeUndBekannte ul a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.FreundeUndBekannte img {
  max-width: 150px;
  max-height: 150px;
}
